.heading {
  position: fixed;
  border-color: #E7E7E7;
  top: 0;
  border-width: 0 0 1px;
  right: 0;
  left: 0;
  min-height: 50px;
  margin-bottom:20px;
  border: 1px solid transparent;
  display: block;
  font-family: 'Space Mono', monospace;
  text-align: -webkit-center;
}

.week-text {
  font-family: 'Space Mono', monospace;
  border: 1px solid #000000;
  padding: 2px;
  margin: auto;
  margin-top: 100px;
}

#week-one {
  display: flex;
}

.one-text{
font-family: 'Lato', sans-serif;  
}

font-family: 'Lato', sans-serif;
font-family: 'Unna', serif;
