header {
  position: fixed;
  border-color: #E7E7E7;
  top: 0;
  border-width: 0 0 1px;
  right: 0;
  left: 0;
  height: 50px;
  margin-bottom:20px;
  border: 1px solid transparent;
  display: block;
  font-family: 'Space Mono', monospace;
  text-align: -webkit-center;
  z-index: 1
}

.week-text {
  font-family: 'Space Mono', monospace;
  border: 1px solid #000000;
  padding: 2px;
  width: 100px;
  text-align: center;
  margin: auto;
}

#week-one {
  margin-top: 100px;
}

.one-text{
font-family: 'Lato', sans-serif;
margin-top: 100px;
}

/*week one */
.when{
  display: block;
  margin-left: 30%
}

.first-fire{
}

font-family: 'Lato', sans-serif;
font-family: 'Unna', serif;
